
GOOGLE_SHEET_ID=seu_sheet_id_aqui

GOOGLE_SHEET_NAME=cogni

GOOGLE_CLIENT_EMAIL=seu_service_account_email@river-pillar-xxxxx.iam.gserviceaccount.com

# Chave privada da Service Account (copie exatamente como está no arquivo JSON)
# Importante: manter as quebras de linha (\n) corretamente
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"

# Chave de API do Google (opcional, para autenticação alternativa)
GOOGLE_SHEETS_API_KEY=sua_api_key_aqui
